name: Continuous Delivery

on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types: [completed]

env:
  REGISTRY: ghcr.io
  FLASK_IMAGE_NAME: ${{ github.repository }}/serving
  MLFLOW_TRACKING_URI: http://dsn2026hotcrp.dei.uc.pt:8080
  MLFLOW_EXPERIMENT_NAME: iris_test_jrc
  MLFLOW_MODEL_NAME: iris_model_name

jobs:

  train-model:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: '3.13' }
      - run: pip install uv

      - uses: actions/download-artifact@v4
        with: { name: training-image, path: /tmp }
      - run: docker load --input /tmp/training.tar

      - name: Run training
        env:
          MLFLOW_TRACKING_URI: ${{ env.MLFLOW_TRACKING_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_PASSWORD }}
          MLFLOW_MODEL_NAME: ${{ env.MLFLOW_MODEL_NAME }}
          MLFLOW_EXPERIMENT_NAME: ${{ env.MLFLOW_EXPERIMENT_NAME }}
          COMMIT_SHA: ${{ github.sha }}
        run: |
          docker run --rm \
            -e MLFLOW_TRACKING_URI \
            -e MLFLOW_TRACKING_USERNAME \
            -e MLFLOW_TRACKING_PASSWORD \
            -e MLFLOW_MODEL_NAME \
            -e MLFLOW_EXPERIMENT_NAME \
            -e COMMIT_SHA \
            training:${{ github.sha }}

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/download-artifact@v4
        with: { name: serving-image, path: /tmp }
      - run: docker load --input /tmp/serving.tar

      - name: Push staging image
        run: |
          docker tag serving:${{ github.sha }} ghcr.io/${{ github.repository }}/serving:staging
          docker push ghcr.io/${{ github.repository }}/serving:staging

      - name: Stage MLflow model
        env:
          MLFLOW_TRACKING_URI: ${{ env.MLFLOW_TRACKING_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_PASSWORD }}
          FROM_ALIAS: ${{ github.sha }}
          TO_ALIAS: staging
        run: uv run python model-promotion/promote_model.py